<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>testing App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

<div class="jumbotron jumbotron-fluid bg-primary">

    <div class="container">
        <h1 class="display-4">testing App</h1>
        <p class="lead">automation testing.</p>

        <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                Dropdown testing
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/testing/1">testing 1</a>
                <a class="dropdown-item" href="/testing/2">testing 2</a>
                <a class="dropdown-item" href="/testing/3">testing 3</a>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
